body{
	font-family: Arial;
	font-size: 80%;
}

#wrapper{
	width: 80%;
	margin: 20px auto 0;
}


#product_list .delete{
	margin-left: 10px;
}

#product_list table{
	width: 400px;
}

#product_list table th{
	text-align: left;
}

#close{
    color: red;
}
#drop{
	overflow: hidden;
}
#myInput{
	margin-bottom: 20px;
	padding: 5px 20px;
}
select{
	display: flex;
	background-color: #EEEEEE;
	float: left;
	padding : 5px 12px;
	margin-right: 20px;
	margin-bottom: 20px;
}