body{
	font-family: Arial;
	font-size: 80%;
}

#wrapper{
	width: 80%;
	margin: 20px auto 0;
}


#close{
	font-weight: bolder;
	font-size: large;
	text-align: center;

}

#product_list table{
	width: 100%;
}

#product_list table th{
	text-align: center;
	font-size: 20px;
}
td{
	font-size: 15px;
	text-align: center;
}
#close{
    color: red;
	cursor: pointer;
}
#drop{
	overflow: hidden;
}
#myInput{
	margin-bottom: 20px;
	padding: 5px 20px;
}
#search{
	background-color: #EEEEEE;
	padding: 5px 12px;
	margin-left: 10px;
}
#search:hover{
background-color: green;
color: white;
}
select{
	display: flex;
	background-color: #EEEEEE;
	float: left;
	padding : 5px 12px;
	margin-right: 20px;
	margin-bottom: 20px;
}